{% extends 'main.html' %}

{% load static %}

{% block content %}


<!-- WishList Title -->
<section class="page-section" id="wishlists">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center">My Wishlists</h2>
        <hr class="divider" />
                    
                    <div class="row">
                        <div class="col-4 pb-4"> 
                            <div class="card shadow-sm">
                                <div class="card-body">
                                    
                                    <div class="text-center">
                                        <p><a href="{% url 'create-wishlist' %}" class="btn btn-primary radius"><i class="bi bi-bag-plus fs-1"></i></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for wishlist in wishlists %}
                        <!-- One Card Large-->
                        <div class="col-4 pb-4"> 
                            <div class="card shadow-sm">
                                <div class="pt-4 text-center">
                                    <a href="{% url 'wishlist' wishlist.id %}"><i class="bi-list-columns fs-1"></i></a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title text-center"><a href="{% url 'wishlist' wishlist.id %}">{{wishlist.title}}</a></h5>
                                    <p class="card-text text-muted">Products: {{wishlist.total_products}}</p>
                                    <p class="card-text text-muted">Total price: {{wishlist.grand_total_price}}</p>
                                    <p class="card-text text-muted">Priority: {{wishlist.get_priority_display}}</p>
                                    <p class="card-text text-muted">Created: {{wishlist.created|date:"M d, Y"}}</p>
                                    <p class="card-text text-muted">Last modified: {{wishlist.modified|date:"M d, Y"}}</p>
                                    <div class="text-center">
                                        <a href="{% url 'wishlist' wishlist.id %}" class="btn btn-primary">View</a>
                                        <a href="{% url 'update-wishlist' wishlist.id %}" class="btn btn-primary">Edit</a>
                                        <a href="{% url 'delete-wishlist' wishlist.id %}" class="btn btn-primary">Delete</a>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    {% endfor %} 
                    </div>
                
        </div>

</section>


{% endblock %}