{% extends 'main.html' %}

{% block content %}

<section class="page-section" id="single-wishlist">
    <div class="container-custom px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Add Wishlist</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">Fill out the fields to create your wishlist!</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <!-- FORM -->
                <form id="wishlistForm" action="" method="POST">{% csrf_token %}
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        {{form.title}}
                        <label for="item">Title</label>
                    </div>
                    <!-- Priority input -->
                    <div class="form-floating mb-3">
                        {{form.priority}}
                        <label for="priority">Priority</label>
                    </div>  
                    
                    <!-- Submit Button-->
                    <div class="d-grid pb-3"><button class="btn btn-primary btn-xl" id="submitButton" type="submit">Submit</button></div>
                    <div class="d-grid"><button class="btn btn-danger btn-xl" id="cancelButton" onclick="history.back()">Cancel</button></div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}